* {
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: #0B0D17;
}

ul {
    margin: 0;
    padding: 0;
}
ol {
    margin: 0;
    padding: 0;
}

/*typography***/
.heading {
    font-family: 'Bellefair','serif';
}
.sub-heading {
    font-family: 'Barlow Condensed', 'serif';
}

.primary-text {
    color: #D0D6F9;
}

.secondary-text {
    color: #FFFFFF;
}

h1 {
    font-size: 9.375rem;
}
h2 {
    font-size: 6.25rem;
}
h3 {
    font-size: 3.5rem;
}
h4 {
    font-size: 2rem;
}

a {
    text-decoration: none;
}
main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url('/starter-code/assets/home/background-home-mobile.jpg');
    background-size: cover;
}   

.container {
    width: 90%;
    margin: 0 auto;
    
}

/** navigation bar **/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
    padding-top: 1em;
    overflow: hidden;
   
   

   
}
.navigation {
    background-color: rgba(255,255,255,0.2);
    position: absolute;
    right: -70%;
    top: 0;
    height: 100vh;
    width: 70%; 

    transition: all 0.5s;



}

.navigation > ul {
    margin-top: 7.4em;
    margin-left: 2rem;
}
.nav-links {
    padding-bottom: 40px;
    text-transform: uppercase;
}

.close-btn {
    position: absolute;
    top: 1.8em;
    right: 1.5em;
}

/** main section of home page **/

.hero-section {
    margin-top: 44px;
    text-align: center;
   
}

.hero-section__cta {
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 80px;
    text-transform: uppercase;
}

.hero-section__title {
    text-transform: uppercase;
}
.hero-section__info {
    margin-bottom: 100px;
}
.explore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 150px;
    width: 150px;
    background-color: #FFFFFF;
    border-radius: 50%;
}