* {
    margin: 0;
}

body {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}
ol {
    margin: 0;
    padding: 0;
}

/*typography***/
.heading {
    font-family: 'Bellefair','serif';
}
.sub-heading {
    font-family: 'Barlow Condensed', 'serif';
}

h1 {
    font-size: 9.375rem;
}
h2 {
    font-size: 6.25rem;
}
h3 {
    font-size: 3.5rem;
}
h4 {
    font-size: 2rem;
}

a {
    text-decoration: none;
}
main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}   

.container {
    width: 90%;
    margin: 0 auto;
    
}

/** navigation bar **/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
    padding-top: 1em;
    overflow: hidden;
   
   

   
}
.navigation {
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    right: -70%;
    top: 0;
    height: 100vh;
    width: 70%; 

    transition: all 0.5s;



}

.navigation > ul {
    margin-top: 7.4em;
    margin-left: 2rem;
}
.nav-links {
    padding-bottom: 40px;
    text-transform: uppercase;
}

.close-btn {
    position: absolute;
    top: 1.8em;
    right: 1.5em;
}

.logo {
    
    
}