* {
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: #0B0D17;
}

img {
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}
ol {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    justify-content: space-around;
}

/*typography***/
.heading {
    font-family: 'Bellefair','serif';
}
.sub-heading {
    font-family: 'Barlow Condensed', 'serif';
}

.primary-text {
    color: #D0D6F9;
}

.secondary-text {
    color: #FFFFFF;
}

h1 {
    font-size: 9.375rem;
}
h2 {
    font-size: 6.25rem;
}
h3 {
    font-size: 3.5rem;
}
h4 {
    font-size: 2rem;
}

a {
    text-decoration: none;
}
main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}   

.container {
    width: 90%;
    margin: 0 auto;
    
}

.home {
    background-image: url('/starter-code/assets/home/background-home-mobile.jpg');
    background-size: cover;
}

/** navigation bar **/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
    padding-top: 1em;
    overflow: hidden;
   
   

   
}
.navigation {
    background-color: rgba(255,255,255,0.4);
    position: absolute;
    right: -70%;
    top: 0;
    height: 100vh;
    width: 70%; 

    transition: all 0.5s;



}

.navigation > ul {
    margin-top: 7.4em;
    margin-left: 2rem;
}
.nav-links {
    padding-bottom: 40px;
    text-transform: uppercase;
}

.close-btn {
    position: absolute;
    top: 1.8em;
    right: 1.5em;
}

/** main section of home page **/

.hero-section {
    margin-top: 44px;
    text-align: center;
   
}

.hero-section__cta {
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 80px;
    text-transform: uppercase;
}

.hero-section__title {
    text-transform: uppercase;
}
.hero-section__info {
    margin-bottom: 100px;
}
.explore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 150px;
    width: 150px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

/** destinations ***/

.destination {
    background-image: url(/starter-code/assets/destination/background-destination-mobile.jpg);
    background-size: cover;
}

.hero {
    text-align: center;
    margin-top: 20px;
}

.hero-img {
    margin-top: 1.5rem;
    margin-bottom: 1em;
}

.destination-img > img {
   width: 170px;
   height: 170px;
   
}

.info-section {
    width: 100%;
}

.page-nav {
    width: 70%;
    margin: 0 auto;
}

.page-nav > ul {
    display: flex;
    justify-content: space-between;
    
}

.page-nav > ul > ol {
    text-transform: uppercase;
}

.destination-title {
    margin-bottom: .25em;
    font-size: 44px;
}

.info-section__text {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #383B4B;
}

.distance {
    margin-bottom: 1em;
}

.avg-distance {
    font-size: .6em;
    margin-bottom: 1em;
}

.est-time {
    margin-bottom: 1em;
    font-size: .6em;
    text-transform: uppercase;
}
.years {
    text-transform: uppercase;
}

/** crew **/

.crew {
    background-image: url(/starter-code/assets/crew/background-crew-mobile.jpg);
    background-size: cover;
}

.crew-image {
    border-bottom: 1px solid #383B4B;   
}

.crew-image > img {
    object-fit: contain;
    height: 223px;    
}

.nav-btn {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.crew-info-container {
    margin-top: 2em;
}

.crew-info {
    margin-top: 1em;
    color: #D0D6F9;
}

.crew-position{
 color : #FFFFFF;
 text-transform: uppercase;

}

.crew-name {
    text-transform: uppercase;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: .25em;
}